.container {
  position: absolute;
  z-index: 1500;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
}
nav {
  background-color: transparent;
}
mat-toolbar {
  background: transparent;
}
a {
  font-size: 18px;
}
