.container {
  position: absolute;
  z-index: 2;
  left: 50%;
  transform: translateX(-50%);
  width: 1500px;
}
nav {
  background-color: transparent;
}
mat-toolbar {
  background: transparent;
}
a {
  font-size: 24px;
}
