<div class="header col-12"><app-header></app-header></div>
<div class="container" [className]="activeClass" id="container">
  <div class="form-container sign-up">
    <form>
      <h1 style="font-size: 40px">Create Account</h1>

      <span style="font-size: 20px">or use your email for registeration</span>
      <input type="text" placeholder="Name" />
      <input type="email" placeholder="Email" />
      <input type="password" placeholder="Password" />
      <button>Sign Up</button>
    </form>
  </div>
  <div class="form-container sign-in">
    <form>
      <h1 style="font-size: 40px">Sign In</h1>

      <span style="font-size: 20px">or use your email password</span>
      <input type="email" placeholder="Email" />
      <input type="password" placeholder="Password" />
      <a href="#">→ Forget Your Password? ←</a>
      <button style="font-size: 20px">Sign In</button>
    </form>
  </div>
  <div class="toggle-container">
    <div class="toggle">
      <div class="toggle-panel toggle-left">
        <h1 style="font-size: 40px">Welcome Back!</h1>
        <p>Enter your personal details to use all of site features</p>
        <button class="hidden" (click)="login()" id="login">Sign In</button>
      </div>
      <div class="toggle-panel toggle-right">
        <h1 style="font-size: 40px">Hello, Friend!</h1>
        <p style="font-size: 20px">
          Register with your personal details to use all of site features
        </p>
        <button
          class="hidden"
          style="font-size: 20px"
          (click)="register()"
          id="register"
        >
          Sign Up
        </button>
      </div>
    </div>
  </div>
</div>
