li {
  height: 50px;
}
ul {
  height: 150px;
  margin: auto;
  padding: auto;
}
.col-8 {
  margin: auto;
  padding: auto;
  margin-top: 50px;
  margin-bottom: 100px;
  min-height: 100%;
  gap: 2em;
}
.title {
  height: 100px;
}
.bottom {
  margin-bottom: 100px;
}

button {
  font-size: 30px;
  color: #13547a;
}
button:hover {
  color: #13547a;
}
