input {
  width: 700px;
  height: 50px;
  position: relative;
  left: 40px;
}
a {
  text-decoration: none;
  color: black;
}
.btnsearch {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 50px;
  /* width: 50px; */
  border-radius: 25px;
  background: transparent;
  position: relative;
  left: -30px;
  padding-right: 10px;
  padding-left: 10px;
}
.btnsearch:hover {
  background-color: grey;
  transition: 0.2s;
}

.row {
  padding-top: 200px;
}
.result {
  overflow: visible;
  min-height: 78vh;
}
.results {
  overflow: scroll;
}
.container {
  position: absolute;
  top: 200px;
  left: 350px;
}
mat-sidenav-container {
  height: calc(100vh - 90px);
  background-color: white;
}
