a {
  text-decoration: none;
  color: black;
}

.row {
  padding-top: 200px;
}
.result {
  overflow: visible;
  min-height: 78vh;
}
.results {
  overflow: scroll;
}
.container {
  position: absolute;
  top: 200px;
  left: 350px;
}
.search {
  width: 50%;
  margin-bottom: 50px;
}
mat-sidenav-container {
  height: calc(100vh - 90px);
  background-color: white;
}
