<app-header></app-header>
<div class="col-12 all">
  <div class="container-fluid d-flex justify-content-center align-items-center">
    <div class="row d-flex justify-content-center" style="font-size: 5em">
      <div class="col-lg-8 d-grid justify-content-center align-items-center">
        <h1
          class="d-flex m-5 align-items-end justify-content-center"
          style="font-size: 1em; letter-spacing: 0.2em"
        >
          Discover.Learn.Enjoy
        </h1>
        <h4 class="d-flex justify-content-center">
          platform for creatives around the world
        </h4>
        <div class="search d-flex justify-content-center">
          <ng-container style="display: flex; justify-content: center">
            <app-search style="width: 80%"></app-search>
          </ng-container>
        </div>
      </div>
    </div>
  </div>

  <div class="color border col-12">
    <div class="category col-12 d-flex justify-content-center">
      <div class="card small">
        <div class="card-body">
          <h5 class="card-title">{{ categories[1].title }}</h5>
          <p class="card-text">{{ categories[1].desc }}.</p>
          <div class="image" style></div>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>

      <div class="card large">
        <div class="card-body">
          <h5 class="card-title">{{ categories[0].title }}</h5>
          <p class="card-text">{{ categories[0].desc }}.</p>
          <div class="image" style></div>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>
  </div>
</div>
