p {
  font-size: 1.5em;
  font-style: italic;
}
h2 {
  font-size: 40px;
}

.img {
  width: 10%;
  height: 100px;
  background-image: url(../../../../assets/images/topics/colleagues-working-cozy-office-medium-shot.png);
  background-size: cover;
  border-radius: 50%;
}
.container-fluid {
  height: 200px;
  width: 75%;

  margin-top: 3em;
  background: transparent;
  justify-content: space-between;
  gap: 2em;
}
.card {
  background: transparent;
  border: none;
  width: 100%;
}
