p {
  font-size: 30px;
  font-style: italic;
}
h2 {
  font-size: 40px;
}

.img {
  width: 150px;
  height: 150px;
  background-image: url(../../../../assets/images/topics/colleagues-working-cozy-office-medium-shot.png);
  background-size: cover;
  border-radius: 50%;
}
.container-fluid {
  height: 200px;
  width: 75%;

  margin-top: 50px;
  background: transparent;
  justify-content: space-between;
  gap: 24px;
}
.card {
  background: transparent;
  border: none;
}
